
html {
	background-image: url("https://www.howdeniberia.com/wp-content/uploads/2019/01/fondo-azul-marino.png");
  }
  #principal {
	width: 100%;
	height: auto;
	overflow: hidden;
	border: 0px solid #000;
	margin: auto;
	display: flex;
	flex-direction: column;
  }
  
  header {
	display: flex;
	justify-content: space-between;
	align-items: center;
  
  }
  main {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
  }
  
  #logo {
	width: 200px;
	min-width: 100px;
	height: 100px;
	min-height: 100px;
	border: 0px solid #000;
	padding-left: 1em;
	margin-top: 1em;
  }
  #logo img {
	  width: 100%;
	  height: 80%;
  }
.titulo{
	font-size: 30px;
	margin-top: 25px;
}

#categorias{
	width: 1000px;
	height: auto; overflow: hidden;
	border: 0px solid #000;
	margin-top: 15px;
}

.uno{
	width: 280px;
	height: auto; overflow: hidden;
	border: 1px solid #ccc;
	float: left;
	padding: 5px;
	text-align: center;
	color: #4682b4;
}

.parrafo{
	color: #707070;
	text-align: center;
}

.dos{
	margin-left: 12px;
	margin-right: 12px;
}


* {
			padding: 0px;
			margin: 0px;
		}

		.nav {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: space-between;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
 ul,ol{
        	list-style:none;
        }
        .nav li a {
        	background-color: #006699;
        	color: #fff;
        	text-decoration:none;
        	padding: 20px 40px;
        	display: block;
        }
        .nav li a:hover {
        	background-color: #707070;
        }
        .nav > li {
        	float: right;
        	width: auto;
        	height: auto;
        } 
        .nav li ul {
        	display:none;
        	position: absolute;
        	min-width:140px;

        }
        .nav li:hover > ul {
        	display:block;
        }
        .nav li ul li {
        	position: relative; 
        }
        .nav li ul li ul {
        	right: -140px;
        	top: 0px;
        }
